/* setup inicial */

* {
    font-family: 'Roboto', sans-serif;
    color: #5f5f5f;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #EBEBEB;
}

/* menu de navegação */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial';
    background-color: black;
    height: 8vh;
    width: 100%;
    position: fixed;
}

#nav-list {
    list-style: none;
    display: flex;
}

#nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/* sobre mim */

main {
    padding-top: 9vh;
    background-color: #fff;
    display: flex;
}

#nome-sobre {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

#nome-sobre h1 {
    text-align: center;
    padding: 10px;
}

#nome-sobre div {
    padding: 10px;
}


#foto-perfil {
    padding: 10px;
    border-radius: 100%;
}

/* habilidades */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }

  .orange {
    border: 3px solid orange;
  }

  .blue {
    border: 3px solid blue;
  }

  .yellow  {
    border: 3px solid #EEF600;
  }